.main {
  height: 90vh;
  width: 100%;
  display:grid;
  /* grid-template-columns: auto auto; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  font-family: "Courier New", Courier, monospace;
  /* background-color: aqua; */
}
.grid{
  /* background-color: antiquewhite; */
  /* padding: 10px; */
}

.renderConnect{
  /* background-color: rgb(227, 201, 166); */
  height: 3rem;
  width: 37rem;
  float: right;
  margin-right: 0%;
  margin-top: 3rem;
}

.image{
  /* background-color: rgb(229, 222, 212); */
  height: 33rem;
  width: 13rem;
  float: left;
  margin-left: 5%;
  margin-top: 0rem;
}
.image .img{
  height: 28rem;
  width: 18rem;
}


.textItems{
  /* background-color: rgb(23, 121, 89); */
  height: 15rem;
  width: 30rem;
  text-align: center;
  float: none;
  margin-left: 30rem;
  margin-top: -30rem;
}

.renderMint{
  margin-left: 0rem;
  margin-top: 3rem;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
/* 
.image {
  width: 40%;
  height: 40%;
  margin-left: 20%;
} */

/* .title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.ren{
  margin-top: -30rem;
  margin-left: 25rem;
  background-color: aliceblue;
} */


.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}


/* 
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */